body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f4f4f4;
        }
        header {
            background: #333;
            color: white;
            padding: 20px;
            text-align: left;
            
        }
        .header-contant{
                display: flex;
                flex-direction: row;
                justify-content: right;
                background: #333;
            }
        .section {
            padding: 40px;
            max-width: 900px;
            margin: auto;
            background: white;
            margin-top: 20px;
            border-radius: 8px;
        }
        h2 {
            border-left: 4px solid #333;
            padding-left: 10px;
        }
        .project {
            margin-bottom: 20px;
            padding: 15px;
            background: #eaeaea;
            border-radius: 5px;
        }
        a {
            padding: 10px 20px;
            background: #a79a9a;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: 0.3s;
        }
        
header a:hover {
    background: white;
    color: #333;   
}
       